<template>
  <div id="app">
      <div class="container p-4">
        <div class="row">
          <div class="col-md-4" v-for="article in displayedArticles" :key="article._id">
            <div class="card mb-2">
              <img v-bind:src="article.imageUrl" class="card-img-top">
              <div class="card-body">
                <h5>{{article.title}}</h5>
                <p>{{article.description}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="btn-group col-md-2 offset-md-5">
            <button 
              type="button"
              v-if="page != 1"
              @click="page--"
              class="btn btn-sm btn-outline-secondary">
              atras
            </button>
            <button 
              type="button"
              @click="page = pageNumber"
              v-for="pageNumber in pages.slice(page-1, page+6)"
              :key="pageNumber"
            class="btn btn-sm btn-outline-secondary">
              {{pageNumber}}
            </button>
            <button
              type="button"
              @click="page++"
              v-if="page < pages.length"
              class="btn btn-sm btn-outline-secondary">
              delante
            </button>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      articles:[],
      baseUrl: 'http://localhost:3000',
      page: 1,
      perPage: 10,
      pages: []
    }
  },
  created(){
    this.getArticles();
  },
  methods: {
    async getArticles(){
      const res = await this.axios.get(`${this.baseUrl}/articles`);
      this.articles = res.data;
    },
    paginate(articles){
      let page = this.page
      let perPage = this.perPage
      let from = (page * perPage) - perPage
      let to = (page * perPage) 

      return articles.slice(from, to)
    },
    setArticles(articles){
      let numberOfPages = Math.ceil(this.articles.length / this.perPage);
      for (let i = 1; i <= numberOfPages; i++) {
        this.pages.push(i)
        
      }
    }
  },
  computed:{
    displayedArticles(){
      return this.paginate(this.articles);
    }
  },
  watch: {
    articles(){
      this.setArticles()
    }
  }
}
</script>

<style>
</style>
